<html>
  <head>
    <style>
      body{
        background-color: <%= background%>
      }
    </style>
  </head>
  <h1> "What number am I thinking of between 0 and 100?" </h1>
  <body>
    <p>
      <%= cheat %>
    </p>
    <p>
      <%= first_line %>
    </p>
    <p>
      <%= second_line %>
    </p>
    <p>
      <form>
        <input type='text' name='guess' />
        <input type='submit' value='Guess!' />
      </form>
    </p>
  </body>
</html>